* text=auto
*.* text eol=lf

# Remove everthing except `.devcontainer` from GitHub Release Packager
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/docs export-ignore
/LICENSE export-ignore
/README.md export-ignore
